*{
    font-family: $mainFont;
    box-sizing: border-box;
    }

p{
    color:$pColors; 
    text-align: left;
    height: auto;
    line-height: $lineHeight;
    }

body{
margin: 0;
padding: 0; 
    nav{
        .icons-px{
            height: 100px;
            width: auto;
            padding: 20px;
            margin-left: 0;
            }
        }
    header {
        overflow: hidden;
            image{
            object-fit: cover;
            }
        }
    main {
        h1{
            padding: 50px;
            text-align: center;
        }
        div{
            h2,h3{
            @include flex (center,center);
            }
            p{
            @include flex (center,center);    
            }
        #carouselExampleCaptions {
                padding-bottom: 20px;
                .carousel-control-prev,
                .carousel-control-next {
              z-index: 5;
            }
              }
        }
        section{
            article{
                width: 20rem; 
                height: 35rem;
            }
        }
        .text{
        @include text (20px,left)
        }  
    }
    .img-index{
        height: 300px;
    }
    .card-img {
        object-fit: cover;
        place-items: center;
    }
    footer{
        .icons-rrss{
            height: 30px;
            width: 30px;
            float: right;
            margin: 10px;
        }
        .legales{
            text-decoration: none;
            @extend li;
            color:$pColors;  
        }
        .legales a:visited {
            color: gray;
        }
    }
}