//variables generales

//colors
$pColors: rgb(14, 10, 10);


//fonts
$mainFont:'Open Sans',sans-serif;

//fontsize
$textSm:0.9em;
$textMd:1.1em;
$textLg:1.7em;
$textXL:2em;

//leading
$lineHeight: 1.6;
